<app-navbar></app-navbar>
<div class="container">
    <h2>Bienvenido {{user.username}} </h2>
</div>
<div class="container">
    <div class="row" *ngFor="let u of users | pairs">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" *ngIf="u[0]">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h4 class="text-center">{{u[0].username}}</h4>
                </div>
                <div class="panel-body">
                    <p>{{u[0].perfil}}</p>
                </div>
                <a href="" class="btn">Link</a>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" *ngIf="u[1]">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h4 class="text-center">{{u[1].username}}</h4>
                </div>
                <div class="panel-body">
                    <p>{{u[1].perfil}}</p>
                </div>
                <a href="" class="btn">Link</a>
            </div>
        </div>
    </div>
</div>
<img *ngIf="loading" class="pl-2"
    src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
<div *ngIf="error" class="alert alert-danger">{{error}}</div>