<app-navbar></app-navbar>
<div class="aligner">
  <mat-card class="aligner-center-item">
    <mat-card-title>
      Iniciar sesión
    </mat-card-title>

    <mat-card-content>
      <form id="login-form" #lForm="ngForm" [formGroup]="loginForm" (ngSubmit)="submitLogin()" novalidate>
        <mat-form-field style="width: 100%; margin-bottom: 10px;"
          [ngClass]="{'mat-input-invalid': submitted && rejected}">
          <input matInput type="text" formControlName="username" placeholder="Nombre de usuario" />
          <mat-hint style="color: red;"
            *ngIf="submitted && rejected && !loginForm.controls.username.hasError('required')">{{error.message}}
          </mat-hint>
          <mat-hint style="color: red;" *ngIf="submitted && loginForm.controls.username.hasError('required')">Debe
            llenar este campo</mat-hint>
        </mat-form-field>
        <mat-form-field style="width: 100%;" [ngClass]="{'mat-input-invalid': submitted && rejected}">
          <input matInput type="password" formControlName="password" placeholder="Contraseña" />
          <mat-hint style="color: red;"
            *ngIf="submitted && rejected && !loginForm.controls.password.hasError('required')">{{error.message}}
          </mat-hint>
          <mat-hint style="color: red;" *ngIf="submitted && loginForm.controls.password.hasError('required')">Debe
            llenar este campo</mat-hint>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions style="text-align: right;">
      <button mat-raised-button type="submit" form="login-form"> Ingresar</button>
    </mat-card-actions>
  </mat-card>
</div>
<div *ngIf="error" class="alert alert-danger">{{error}}</div>